<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kevin.trello_v2.tasks.mapper.BoardViewMapper">
    <sql id="boardViewColumns">
        board_id, title, description, closed, user_uid, role, starred
    </sql>

    <resultMap id="BoardViewResultMap" type="org.kevin.trello_v2.tasks.model.BoardView">
        <id property="boardId" column="board_id"/>
        <id property="userUid" column="user_uid"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="closed" column="closed"/>
        <result property="role"
                column="role"
                typeHandler="org.kevin.trello_v2.tasks.mapper.typeHandlers.MembershipRoleTypeHandler"
        />
        <result property="starred" column="starred"/>
    </resultMap>

    <select id="findByUserAndBoard" resultMap="BoardViewResultMap">
        SELECT
            <include refid="boardViewColumns"/>
        FROM
            board_views
        WHERE
            user_uid = #{userUid}
            AND board_id = #{boardId}
        LIMIT 1
    </select>

</mapper>